<!-- 
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets\img\tiffin3.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form #myform="ngForm" (ngSubmit)="handleLogin(myform.value)">
          <small *ngIf='invalidLogin'>{{errorMessage}}</small>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
           
            <input type="text" ngModel class="form-control input_user" name="studentEmail" placeholder="username">
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" ngModel name="studentPassword" class="form-control input_pass"
              placeholder="password">
           
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Login</button>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a href="register" class="ml-2">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- <div class="container" align="center">

  <img class="mb-4" src="assets/img/tiffin3.png" alt="" width="40" height="102">
  <H2>Login Form</H2>

  <div id="invalid" class="alert alert-warning" role="alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <div>
   <form #myform="ngForm" (ngSubmit)="handleLogin(myform.value)" > 
    
      <div>
        <label>Email </label>
        <input type="text" ngModel class="form-control" name="studentEmail" style="margin-left: 3em;">
      </div>

      <div >
        <label>Password </label>
        <input type="password" ngModel class="form-control" name="studentPassword" style="margin-left: 1em;">
      </div>
    
    <div>
      <button type="submit" class="btn btn-success" style="width:150px; margin-left: 1em; margin-right: 1em;">Submit</button>
      <button type="reset" class="btn btn-warning" style="width:150px">Reset</button>
    </div>

    <div>
      <p class="message" style="margin-left: 3em;">Not registered? <a href="#">Create an account</a></p>
    </div>
  </form>

  </div> -->


  <div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="assets\img\tiffin3.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
          <form #myform="ngForm" (ngSubmit)="handleLogin(myform.value)">
            <div id="invalid" class="alert alert-warning" role="alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
            
            <div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="studentEmail" ngModel class="form-control input_user" value="" placeholder="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" ngModel name="studentPassword" class="form-control input_pass" value="" placeholder="password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" class="btn login_btn">Login</button>
				   </div>
					</form>
				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="#" class="ml-2">Sign Up</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>