

<div style="padding-top: 80px;">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner" style="padding-left: 15%;">
      <div class="carousel-item active">
        <img src="assets\img\chapati.jpg" alt="Los Angeles" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets\img\quote1.jpg" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets\img\quote2png.png" alt="New York" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets\img\quote3.jpg" alt="New York" width="1100" height="500">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>  
</div>
<div >
  <div class="row">
    <div class="col-sm-6">
      <div class="card" >
        <div class="card-body" style="background-color: chartreuse;">

          <a href="login" class="btn btn-primary" style="margin-right: 1em;  font-size: x-large;">Login</a>
          <a href="register" class="btn btn-primary" style="font-size: x-large;">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
