<h2>Todays Menu</h2>
Welcome {{name}}!

<table border="1">
  <thead>
    <tr>
      <th>Chapati</th>
      <th>Sabji</th>
      <th>Rice</th>
      <th>dal</th>
      <th>salad</th>
      <th>sweetDish</th>
      <th>chatani</th>
      <th>pickle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{todaysMenu.chapati}}</td>
      <td>{{todaysMenu.sabji}}</td>
      <td>{{todaysMenu.rice}}</td>
      <td>{{todaysMenu.dal}}</td>
      <td>{{todaysMenu.salad}}</td>
      <td>{{todaysMenu.sweetDish}}</td>
      <td>{{todaysMenu.chatani}}</td>
      <td>{{todaysMenu.pickle}}</td>
    </tr>
  </tbody>
</table>

<button></button>
