<mat-card>
  <mat-card-header>
    <h5>
      <strong>Select your menu</strong>
    </h5>
  </mat-card-header>
  <mat-card-content>
    <form formGroup="menuSelect">
      <div formGroupName="tiffin">
        <mat-form-field appearance="outline">
          <mat-label>Full Box</mat-label>
          <input matInput type="number" formControlName="fullBox">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Half Box ( Half Rice + 2 Chapatis )</mat-label>
          <input matInput type="number" formControlName="halfBox1">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Half Box ( 4 Chapatis only)</mat-label>
          <input matInput type="number" formControlName="halfBox2">
        </mat-form-field>
      </div>

      <div>
          <label class="mat-h2">Sabji</label><br/>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="item1">Sabji1</mat-radio-button>
                <mat-radio-button value="item2">Sabji2</mat-radio-button>
            </mat-radio-group>
      </div>

      <button mat-raised-button color="primary">Place Order</button>
    </form>
  </mat-card-content>
</mat-card>
