<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-md-6" style="margin-top: 80px;">
      <div class="card">
        <header class="card-header">
          <a href="login" class="float-right btn btn-outline-primary mt-1">Log in</a>

          <h4 class="card-title mt-2">Sign up </h4>
        </header>
        <article class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col form-group">
                <!-- <label>First name </label>    -->
                <input type="text" class="form-control" placeholder="First name" formControlName="firstName"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
              </div> <!-- form-group end.// -->
              <div class="col form-group">
                <!-- <label>Last name</label> -->
                <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
              </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-group">
              <!-- <label>Email address</label> -->
              <input type="email" class="form-control" placeholder="Email address" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> <!-- form-group end.// -->
            <div class="form-group">
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="option1">
                <span class="form-check-label"> Male </span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="option2">
                <span class="form-check-label" style="margin-right: 1em;"> Female</span>
              </label>
              <label class="form-check form-check-inline">
                <span class="form-check-label" style="margin-right: 1em;"> Date of Birth :</span>
                <input class="form-check-input" type="date" name="dob">

              </label>

            </div> <!-- form-group end.// -->
            <div class="form-row">

              <div class="form-group col-md-6">
                <!-- <label>Country</label> -->
                <select id="inputState" class="form-control">
                  <option value="">------------Select State------------</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Orissa">Orissa</option>
                  <option value="Pondicherry">Pondicherry</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttaranchal">Uttaranchal</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
              </div> <!-- form-group end.// -->
              <div class="form-group col-md-6">
                <!-- <label>City</label> -->
                <input type="text" class="form-control" placeholder="City">
              </div> <!-- form-group end.// -->
            </div> <!-- form-row.// -->
            <div class="form-group">
              <!-- <label>Create password</label> -->
              <input class="form-control" type="password" placeholder="Create password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div> <!-- form-group end.// -->
            <div class="form-group">
              <!-- <label>Create password</label> -->
              <input class="form-control" type="password" placeholder="Confirm password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register </button>
            </div> <!-- form-group// -->
          </form>
        </article> <!-- card-body end .// -->
        <!-- <div class="border-top card-body text-center">Have an account? <a href="login">Log In</a></div> -->
      </div> <!-- card.// -->
    </div> <!-- col.//-->

  </div> <!-- row.//-->


</div>
